<section class= "section1">
    <div class= "container">
      <h2 class= "title">ABOUT US</h2>
      <div class= "content-wrapper">
        <div class= "img-wrapper">
          <div class= "img">
              <img src="https://img.freepik.com/free-photo/female-tourists-hand-have-happy-travel-map_1150-7411.jpg?size=626&ext=jpg">
          </div>
        </div>
        <div class="text-wrapper">
          <p class= "text" style="text-align: center;">
            Nurtured from the seed of a single great idea - to empower the traveller - Our online travel portal is a 
            pioneer in India’s online travel industry. It came to life to empower the Indian traveller with 
            instant bookings & comprehensive choices. The company initiated its journey serving the US-India 
            travel market offering a range of best-value products and services powered by technology.
          </p>
          <p class= "text" style="text-align: center;">
            Our online travel portal has proactively diversified its product offering, adding a variety of 
            online & offline products & services. It has stayed ahead of the curve by continually evolving 
            its technology to meet the ever-changing demands of the rapidly developing global travel market, 
            steadily establishing itself as India’s leading online travel company.  
          </p>
          <div class="btn-wrapper" style="text-align: center;">
            <a href="https://www.virtuoso.com/travel/articles/10-powerful-reasons-why-people-love-to-travel" target="_blank" class="btn">
              <span>More</span>
            </a>
          </div>
        </div>
     </div>
    </div>
  </section>
  <!--WHY US-->
  <div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span>Why Choose</span> Us?</h4>
          <p>We provide you an adventure and a smooth ride you've never experienced before.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
            <h6>Largest Inventory</h6>
            <p> We have the largest inventory of hotel rooms and packages. Which means, even 
                if you find your favourite hotel listed as “full” on the hotel’s website, you might still find 
                a vacancy if you look up the availability on a our travel portal. Moreover, the 
                choice of hotels offered to you by us is unparalleled.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
            <h6>Great Way to Travel with Kids</h6>
            <p>Anyone who's been on long flights with babies, toddlers or young kids knows what a nightmare 
                it can be. Break between flights & the freedom to venture out helps to calm their 
                nerves, making the flying experience a smoother ride than before where you never have to
                look back.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
            <h6>On-the-go Support</h6>
            <p> If our customer has any problem and any query we are always happy to help then. Many business 
                travellers feel that they experience inadequate support after the booking has been made. 
                We provide a platform, where the travel partner is provided with end-to-end support for their concerns.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
            <h6>Perfect for Business Travels</h6>
            <p>If you travel for business often, be it within the country or overseas, we can help you get 
                more done on a single trip. If you are travelling to London for a business conference & also 
                have some clients to meet in Zurich or Dubai, you can easily add as many stops in our itinerary 
                & cover them all in a single trip.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
            <h6>Assured GST Invoices</h6>
            <p>With the enforcement of GST Act, collecting GST-compliant invoices to file for tax purposes is 
                necessary. For claiming tax benefits when employees travel for business, the portal you 
                choose must give you GST invoices for your bookings and we provide you with GST invoices for 
                your bookings.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
            <h6>Comparative Cost Benefits</h6>
            <p>A key factor that should be compared against online or offline travel agencies is to check if 
                you are receiving cost benefits against volume. We offer corporate discounts. You can also avail 
                the added benefits like free meals, nominal to zero cancellation or rescheduling charges and 
                much more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--image-->
  <img src="https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77702102779.jpg" alt="">
  <!--BLOGS-->
  <section class="about" id="about">
    <div class="container">
        <div class="heading text-center">
            <h2>Travel
                <span>BLOG</span></h2>
            <p>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="https://wallpaperaccess.com/full/1385996.jpg" alt="about" class="img-fluid" width="85%">
            </div>
            <div class="col-lg-6">
                <h3>Planning a vacation in India?</h3>
                <p>Read the true Indian travel blogs from the real travelers who have experienced the tourist 
                    destinations in the country.</p>
                <div>
                   <div>
                        <h4>
                            <i class="far fa-star"></i> 
                            <a href="https://www.indiatravelblog.com/resources/6138-a-day-trip-to-chittorgarh-from-udaipur" target="_blank"> 
                            A day trip to Chittorgarh from Udaipur</a></h4>
                    </div>
                    
                    <div>
                        <h4>
                            <i class="far fa-star"></i>
                            <a href="https://www.indiatravelblog.com/resources/5497-the-misty-host-kodaikanal" target="_blank">
                            The misty host - Kodaikanal </a></h4>
                    </div>
                    
                    <div>
                        <h4>
                            <i class="far fa-star"></i>
                            <a href="https://www.indiatravelblog.com/resources/5013-List-of-best-restaurants-in-Kochi-Ernakulam.aspx" target="_blank">
                            List of best restaurants in Kochi - Ernakulam</a></h4>
                    </div>
                    
                    <div>
                        <h4>
                            <i class="far fa-star"></i>
                            <a href="https://www.indiatravelblog.com/resources/4919-Scuba-Diving-in-Kovalam-Kerala.aspx" target="_blank">
                            Memorable Experience in Kovalam with Bond Safari</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FEEDBACK-->
<div class="heading text-center">
    <h2 style="font-size: 30px; font-weight: 700; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Feed <span style="color: #F24259;">Back</span></h2>
    <p>
    </p>
</div>
<br>
<div id="feedback-container">
  <div id="feedback-title">Tell us what you think!</div>
  <form>
    <label for="name">
      <div class="feedbackLabel">Your name</div>
    </label>
    <input id="name" class="feedbackInfo" type="text" placeholder="Your name" required><br>
    <label for="email">
      <div class="feedbackLabel">Your e-mail addess</div>
    </label>
    <input id="email" class="feedbackInfo" type="text" placeholder="Your e-mail address" required><br>
    <label for="rbPgRating"><div class="feedbackLabel">How would you rate our site?</div></label>
    <fieldset class="selections">
      <input type="radio" name="pageRating" value="1">
      <input type="radio" name="pageRating" value="2">
      <input type="radio" name="pageRating" value="3">
      <input type="radio" name="pageRating" value="4">
      <input type="radio" name="pageRating" value="5">
      <input type="radio" name="pageRating" value="6">
      <input type="radio" name="pageRating" value="7">
      <input type="radio" name="pageRating" value="8">
      <input type="radio" name="pageRating" value="9">
      <input type="radio" name="pageRating" value="10">
    </fieldset>

    <label for="comment">
      <div class="feedbackLabel">Additional Comments:</div>
    </label>
    <br>
    <textarea id="comment" class="feedbackInfo comment" rows="5" maxlength="450" placeholder="Any additional comments! (450 characters)"></textarea>
    <input type="submit" class="btnSubmit" id = "btnSubmit">
  </form>
</div>

