<!--body-->
<div>
  <div class="d-flex justify-content-center" style="margin-top: 10px; ">
    <div style=" height: 100px; width: 180px; text-align: center; margin-right: 30px;" class="element1">
      <p class="ovals" style="font-size: 1.2vw;" >Safety first. Know more about COVID-19</p> 
    </div>
    <div style=" height: 100px; width: 180px; text-align: center; margin-right: 30px;" class="element1">
      <p class="ovals" style="font-size: 1.2vw;">Rooms sanitized before your eyes!</p> 
    </div>
    <div style=" height: 100px; width: 180px; text-align: center; margin-right: 30px;" class="element1">
      <p class="ovals" style="font-size: 1.2vw;">Get Vaccinated..</p>
    </div>
    <div style=" height: 100px; width: 180px; text-align: center; margin-right: 30px;" class="element1">
      <p class="ovals" style="font-size: 1.2vw;">Enjoy your vacation with safety!</p>
    </div>
  </div>
  <br>
 
  
  <div class="card-group">
    
    <div class="card m-3 shadow " style="width: 15rem;">

      <img src="https://exp.cdn-hotels.com/hotels/20000000/19800000/19794400/19794327/b02255b8_l.jpg" class="card-img-top rounded border-0 img1" style="width: 100%; height: 60%;">
      <div class="card-body p-2">
        <h5 class="card-title">The Grand NYC</h5> 
        <p><small>New York</small></p>
        <a href="https://exp.cdn-hotels.com/hotels/20000000/19800000/19794400/19794327/b02255b8_l.jpg">View</a>
      </div>
    </div>
    
    <div class="card m-3 shadow" style="width: 15rem;">
      <img src="https://exp.cdn-hotels.com/hotels/10000000/9070000/9062600/9062555/53c7638c_l.jpg" class="card-img-top img1" alt="..." style="width: 100%; height: 60%;">
      <div class="card-body p-2">
        <h5 class="card-title">Howard Johnson</h5>
        <p><small>Long Island City</small></p>
        <a href="https://exp.cdn-hotels.com/hotels/10000000/9070000/9062600/9062555/53c7638c_l.jpg">View</a>
      </div>
    </div>

    <div class="card m-3 shadow" style="width: 15rem;">
      <img src="https://exp.cdn-hotels.com/hotels/9000000/8090000/8081700/8081652/70f4ff31_l.jpg" class="card-img-top img1" alt="..." style="width: 100%; height: 60%;">
      <div class="card-body p-2">
        <h5 class="card-title">Riviera Hotel</h5>
        <p><small>Newark</small></p>
        <a href="https://exp.cdn-hotels.com/hotels/9000000/8090000/8081700/8081652/70f4ff31_l.jpg">View</a>
      </div>
    </div>
    
    <div class="card m-3 shadow" style="width: 15rem;">
      <img src="https://exp.cdn-hotels.com/hotels/2000000/1710000/1705900/1705822/744a2280_l.jpg" class="card-img-top img1" alt="..." style="width: 100%; height: 60%;">
      <div class="card-body p-2">
        <h5 class="card-title">Lexington Inn</h5>
        <p><small>Jamaica</small></p>
        <a href="https://exp.cdn-hotels.com/hotels/2000000/1710000/1705900/1705822/744a2280_l.jpg">View</a>
      </div>
    </div>
  
    
  </div>
  <h5 style="text-align: right; margin-right: 15px;"> <a [routerLink]="['/users']" style="color: rgb(19, 17, 17);">Visit More hotels...</a> </h5>
<div class="card-group ">
  <div class="card shadow" style="max-width: 540px; margin: 30px;">
    <div class="row g-0">
      <div class="col-md-4 p-3" style="text-align: center;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoz3eLEQdRHcMINen4Isx5V6s1OQ3hsyE_2g&usqp=CAU" class="img-fluid rounded-start" style="width: 100px; height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text"> <b>Know before you go.</b> The restrictions surrounding COVID-19 change often. To help you further, we have put together a <a href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/map-and-travel-notices.html">travel restrictions overview</a> for each country.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card  shadow" style="max-width: 540px; margin:30px;">
    <div class="row g-0">
      <div class="col-md-4 p-3" style="text-align: center;">
        <img src="https://cf.bstatic.com/static/img/deals/index_banner_getaway2020/312c784f761fc4f1e315742e93b9fa10d96ea67d.jpg" class="img-fluid rounded-start" style="width: 100px; height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text"> <b>Save upto 15% or more.</b> Find Getaway Deals on local and global stays until 30 September</p>
          <button>Explore Deals</button>
        </div>
      </div>
    </div>
  </div>
</div>  



  